{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online Examination System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/material-kit.css" %}" />
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Online Examination System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Question
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Import Question</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Subject</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./test_list.html" name="Test">Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Candidate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Live View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Report</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

              {% block content %}
              {% endblock %}
    <script src="{% static "js/core/jquery.min.js" %}"></script>
    <script src="{% static "js/core/popper.min.js" %}"></script>
    <script src="{% static "js/core/bootstrap-material-design.min.js" %}"></script>
    
</body>
</html>