{% extends 'navigation_bar.html'%}
{% block test_list %}


<div class="container">
  <h1>Test List</h1>
</div>

<div id="inline-toolbar">
<button class="btn btn-round add-btn" data-toggle="modal" data-target="#addModal">
  <i class="material-icons" >add_circle</i>   Add
</button>
    <button class="btn btn-round delete-btn" data-toggle="modal">
  <i class="material-icons" action >delete</i>   Delete
</button>
</div>
{{addNew}}

<div class="table-container">
    <div class="table-responsive">
        <table id="fresh-table" class="table table-striped test-list  table-hover table-sm">
                <thead class="thead-table-list">
                    <tr>
                    <th scope="col">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" id="checkall" type="checkbox" value="">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                            </label>
                        </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Test</th>
                    <th scope="col">Type</th>
                    <th scope="col">Test Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in tests %}
                    <tr data-id="{{ test.id }}" id="table-row">
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input check-ele" type="checkbox" value="">
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ test.test_name}}</td>
                        <td>{{ test.test_type}}</td>
                        <td>{{ test.test_date}}</td>  
                    </tr>      
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-body">
                    <form class="form" method="POST" action="{% url 'add_test' %}">
                        {% csrf_token %}
                        <h2>Add Test</h2>
                        <div class="card-body">
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <p>Name :</p>
                                    <input type="text" class="form-control" id="test_name" name="test_name" placeholder="Test Name...">
                                </div>
                            </div>
                            <div class="form-group bmd-form-group">
                              <div class="input-group">
                                  <p>Type :</p>
                                  <input type="text" class="form-control" id="test_type" name="test_type" placeholder="Test Type...">
                              </div>
                            </div>
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <p>Date :</p>
                                    <input type="date" class="form-control" id="test_date" name="test_date" placeholder="Test Date...">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-right">
                            <button type="button" class="btn btn-primary btn-link btn-wd btn-lg cancel-btn" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btn-link btn-wd btn-lg submit-btn" name="add_new">Add & New</button>
                            <button type="button" class="btn btn-primary submit-btn" name="add">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}