
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% block title %}
    Online Examination System
    {% endblock title %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link rel='stylesheet' href="{% static 'css/material-kit.css' %}">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel='stylesheet' href="{% static 'demo/demo.css' %}">
  <link rel='stylesheet' href="{% static 'css/register.css' %}">
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet" /> -->
</head>

<body>
	
</body>
	
</html>