{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  	<link rel="icon" type="image/png" href="../static/img/kit-11.png"> 
  <title>
    {% block title %}
    Online Examination System
    {% endblock title %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/test_management.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-select.min.css' %}" />
  <!-- <link rel='stylesheet' href="{% static 'css/material-kit.css' %}"> -->
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel='stylesheet' href="{% static 'demo/demo.css' %}">
  <link rel='stylesheet' href="{% static 'css/candidate.css' %}">
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet" /> -->
</head>

<body>
	
	{% block content %}

	<nav class="navbar navbar-expand-lg bg-rose">
    <img src="../static/img/kit-11.png" style="width: 8%; margin-left: 25px;">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" style="margin-left: 100px;"> 
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link"><b>Dashboard</b></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'question' %}" class="nav-link"><b>Question</b></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'test' %}" class="nav-link"><b>Test</b></a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'candidate' %}" class="nav-link"><b>Candidate</b></a>
                </li>
                <li class="nav-item">
                    <a href="#Live View" class="nav-link"><b>Live View</b></a>
                </li>
                <li class="nav-item">
                    <a href="#report" class="nav-link"><b>Reporting</b></a>
                </li>
            </ul>

            <form class="form-inline ml-auto">
                <div class="form-group has-white">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-white btn-raised btn-fab btn-fab-mini btn-round">
                    <i class="material-icons">search</i>
                </button>
            </form>
        </div>
    </div>
</nav>
  <!-- <br> -->
  <center><h2><b><u>Candidate Information</u></b></h2></center>

  <!-- <div style="margin: 50px"> -->
    <div id="inline-toolbar">
  </button>
    <button class="btn btn-round btn-danger delete-btn-question" data-toggle="modal">
<i class="material-icons" action >delete</i>   Delete
</button>
</div>
<div class="table-container">
    <div class="table-responsive">
  <table id="fresh-table" class="table table-striped">
    <thead class="thead-table-list">
    <tr>
         <th scope="col-2">
          <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" id="checkall" type="checkbox" value="">
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
          </div>
        </th>
        <th>#</th>
        <th>Register Date</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Phone Number</th>
        <th>School Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <!-- <th>Profile Picture</th>
        <th>ID Card</th> -->
      </tr>
    </thead>
    <tbody>
    
    {% for candidate in candidates %}
    <tr data-id="{{ candidate.id }}" class="table-row">
      <td class="form-check">
      <div class="form-check">
          <label class="form-check-label">
              <input class="form-check-input check-ele check-prevent" type="checkbox" value="">
              <span class="form-check-sign">
              <span class="check"></span>
              </span>
          </label>
      </div>
    </td>
      <td>{{ forloop.counter }}</td>
      <td>{{ candidate.created_at}}</td>
      <td>{{ candidate.email }}</td>
      <td>{{ candidate.firstname }}</td>
      <td>{{ candidate.lastname }}</td>
      <td>{{ candidate.birthday }}</td>
      <td>{{ candidate.phonenumber }}</td>
      <td>{{ candidate.sname }}</td>
      <td>{{ candidate.address }}</td>
      <td>{{ candidate.city }}</td>
      <td>{{ candidate.country }}</td>
      <!-- <td>{{ candidate.file }}</td>
      <td>{{ candidate.image }}</td> -->
    </tr>      
    {% endfor %}
    </tbody>
  </table>
</div>
</div>  
{% endblock content %}
<script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap-select.min.js' %}"></script>

</body>
<script type='text/javascript'>
$(document).ready(function(){
  // Check or Uncheck All checkboxes
  $("#checkall").change(function(){
    var checked = $(this).is(':checked');
    if(checked){
      $(".check-ele").each(function(){
        $(this).prop("checked",true);
      });
    }else{
      $(".check-ele").each(function(){
        $(this).prop("checked",false);
      });
    }
  });

  // Changing state of CheckAll checkbox 
  $(".check-ele").click(function(){

    if($(".check-ele").length == $(".check-ele:checked").length) {
      $("#checkall").prop("checked", true);
    } else {
      $("#checkall").removeAttr("checked");
    }
  });
 });

//**test_list.html SCRIPT**
//Add Button- Test
$(".submit-btn-test").click(function(){
  var test_name = JSON.stringify($("#add_test_name").val());
  var test_type = JSON.stringify($("#add_test_type").val());
  var test_date = JSON.stringify($("#add_test_date").val());
  var button_pressed = JSON.stringify($(this).attr('name'));
  $.ajax({
    url: "{% url 'add_test' %}",
    type: 'POST',
    data: {'button_pressed' : button_pressed, 'test_name' : test_name, 'test_type' : test_type,
    'test_date' : test_date,'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()},
  })
  var button_pr = $(this).attr('name');
  if (button_pr == 'add_new'){
    $("#add_test_name").val("");
    $("#add_test_type").val("");
    $("#add_test_date").val("");
  } else {
    $("#add_test_name").val("");
    $("#add_test_type").val("");
    $("#add_test_date").val("");
    $(".cancel-btn-test").click();
  }
});

//Delete Button- Test
$(".delete-btn-test").click(function(){
  var selected_rows=[];

  $('.test-list').find('tr').each(function(){
    var row=$(this);
    if (row.find('input[type="checkbox"]').is(':checked')) {
        selected_rows.push(row.attr('data-id'));
        };
  });
  var selected_rows = JSON.stringify(selected_rows);
  $.ajax({
    url: "{% url 'delete_test' %}",
    type: 'POST',
    data: {'test_list_ids': selected_rows, 'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()},
    success: function(){
      location.reload();
    },
  });
});

//Edit OnClick- Test
$(".table-row td:not(:has(input))").click(function(){
  $('#editModal').modal('show');
  let rowId = $(this).closest('tr').attr('data-id');
  const row = $(this).closest('tr');
  var test_name = row.find('td[ name="test_name" ]').text();
  var test_type = row.find('td[ name="test_type" ]').text();
  var test_date = row.find('td[ name="test_date" ]').text();
  var date = new Date(test_date);
  var day = ("0" + date.getDate()).slice(-2);
  var month = ("0" + (date.getMonth() + 1)).slice(-2);
  var test_date = date.getFullYear()+"-"+(month)+"-"+(day) ;
  $('#edit_test_date').val(test_date);
  $("#edit_test_name").val(test_name);
  $("#edit_test_type").val(test_type);

  //EDIT FORM-- Save OnClick- Test
  $(".save-btn-test").click(function(){
    var row_id = JSON.stringify(rowId);
    var test_name = JSON.stringify($("#edit_test_name").val());
    var test_type = JSON.stringify($("#edit_test_type").val());
    var test_date = JSON.stringify($("#edit_test_date").val());
    $.ajax({
    url: "{% url 'edit_test' %}",
    type: 'POST',
    data: {'row_id' : row_id, 'test_name' : test_name, 'test_type' : test_type, 'test_date' : test_date,
            'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val() },
    success: function(){
      location.reload();
      },
    });
  });
});

//**question_list.html SCRIPT**
//Add Button- Question
$(".submit-btn-question").click(function(){
  var test_id = JSON.stringify($("#test_id").val());
  var question_type = JSON.stringify($("#question_type").val());
  var question_name = JSON.stringify($("#question_name").val());
  var button_pressed = JSON.stringify($(this).attr('name'));
  var option_rows = $('.option-list tbody tr.option_row').length;
  alert(option_rows);
  
  $.ajax({
    url: "{% url 'add_question' %}",
    type: 'POST',
    data: {'button_pressed' : button_pressed, 'question_name' : question_name, 'question_type' : question_type,
    'test_id' : test_id,'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()},
  })
  var button_pr = $(this).attr('name');
  if (button_pr == 'add_new'){
    $("#test_id").val("");
    $("#question_type").val("");
    $("#question_name").val("");
  } else {
    $("#test_id").val("");
    $("#question_type").val("");
    $("#question_name").val("");
    $(".cancel-btn-question").click();
  }
});

//Delete Button- Question
$(".delete-btn-question").click(function(){
  var selected_rows=[];

  $('.question-list').find('tr').each(function(){
    var row=$(this);
    if (row.find('input[type="checkbox"]').is(':checked')) {
        selected_rows.push(row.attr('data-id'));
        };
  });
  var selected_rows = JSON.stringify(selected_rows);
  $.ajax({
    url: "{% url 'delete_question' %}",
    type: 'POST',
    data: {'question_list_ids': selected_rows, 'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()},
    success: function(){
      location.reload();
    },
  });
});

//Edit OnClick- Question
$(".table-row td:not(:has(input))").click(function(){
  $('#editModal').modal('show');
  let rowId = $(this).closest('tr').attr('data-id');
  const row = $(this).closest('tr');
  var test_id = row.find('td[ name="test_id" ]').text();
  var question_type = row.find('td[ name="question_type" ]').text();
  var question_name = row.find('td[ name="question_name" ]').text();
  $('#test_id').val(test_id);
  $("#question_type").val(question_type);
  $("#question_name").val(question_name);

  //EDIT FORM-- Save OnClick- Question
  $(".save-btn-question").click(function(){
    var row_id = JSON.stringify(rowId);
    var test_id = JSON.stringify($("#test_id").val());
    var question_type = JSON.stringify($("#question_type").val());
    var question_name = JSON.stringify($("#question_name").val());
    $.ajax({
    url: "{% url 'edit_question' %}",
    type: 'POST',
    data: {'row_id' : row_id, 'test_id' : test_id, 'question_type' : question_type, 'question_name' : question_name,
            'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val() },
    success: function(){
      location.reload();
      },
    });
  });
});

//Add option row-- QCM
$("#add_option").click(function(){
  $('.option-list tr:nth-last-child(2)').after('<tr class="option_row"><td><input type="text" class="form-control" value="Turtle"></td><td><input type="text" class="form-control" value="F"></td><td><i class="material-icons option-delete">delete</i></td></tr>');
});

//OnChange if option = 'Essay', hide answer table
$("#question_type").change(function(){
  if($("#question_type").val() == 'ES'){
    $(".option-list").hide();
  }
  else{
    $(".option-list").show();
  }
});

//Delete option_row onClick
$('td i').on('click',function(e){
   e.preventDefault();
   $(this).parents('tr').remove();
});


</script>
</body>
</html>



