{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  	<link rel="icon" type="image/png" href="../static/img/kit-11.png"> 
  <title>
    {% block title %}
    Online Examination System
    {% endblock title %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link rel='stylesheet' href="{% static 'css/material-kit.css' %}">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel='stylesheet' href="{% static 'demo/demo.css' %}">
  <link rel='stylesheet' href="{% static 'css/candidate.css' %}">
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet" /> -->
</head>

<body>
	
	{% block content %}

	<nav class="navbar navbar-expand-lg bg-rose">
    <div class="container">
        <div class="navbar-translate">
            <button type="button" class="btn btn-danger" href="{% url 'register' %}" style="margin-left: -142px; margin-top: -22px;margin-bottom: -17px"><h5><b>Online Examination System</b></h5></button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" style="margin-left: 50px">
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link"><b>Dashboard</b></a>
                </li>
                <li class="nav-item">
                    <a href="#Question" class="nav-link"><b>Question</b></a>
                </li>
                <li class="nav-item">
                    <a href="#Test" class="nav-link"><b>Test</b></a>
                </li>
                <li class="nav-item active">
                    <a href="#Candidate" class="nav-link"><b>Candidate</b></a>
                </li>
                <li class="nav-item">
                    <a href="#Live View" class="nav-link"><b>Live View</b></a>
                </li>
                <li class="nav-item">
                    <a href="#report" class="nav-link"><b>Reporting</b></a>
                </li>
            </ul>

            <form class="form-inline ml-auto">
                <div class="form-group has-white">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-white btn-raised btn-fab btn-fab-mini btn-round">
                    <i class="material-icons">search</i>
                </button>
            </form>
        </div>
    </div>
</nav>
  <!-- <br> -->
  <center><h2><b><u>Candidate Information</u></b></h2></center>

  <div style="margin: 50px">
    <div id="inline-toolbar">
  <button class="btn btn-round" data-toggle="modal" data-target="#addModal">
    <i class="material-icons" >add_circle</i>   Add
  </button>
  <button class="btn btn-round" data-toggle="modal" data-target="#deleteModal">
    <i class="material-icons" >delete</i>   Delete
  </button> 
</div>
  <table id="fresh-table" class="table table-striped">
    <thead class="thead-table-list">
    <tr>
         <th scope="col">
          <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" id="checkall" type="checkbox" value="">
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
          </div>
        </th>
        <th>Register Date</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Phone Number</th>
        <th>School Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <!-- <th>Profile Picture</th>
        <th>ID Card</th> -->
      </tr>
    </thead>
    <tbody>
    
    {% for candidate in candidates %}
    <tr>
      <td>
      <div class="form-check">
          <label class="form-check-label">
              <input class="form-check-input check-ele" type="checkbox" value="">
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
          </label>
        </div>
      </td>
      <td>{{ candidate.created_at}}</td>
      <td>{{ candidate.email }}</td>
      <td>{{ candidate.firstname }}</td>
      <td>{{ candidate.lastname }}</td>
      <td>{{ candidate.birthday }}</td>
      <td>{{ candidate.phonenumber }}</td>
      <td>{{ candidate.sname }}</td>
      <td>{{ candidate.address }}</td>
      <td>{{ candidate.city }}</td>
      <td>{{ candidate.country }}</td>
      <!-- <td>{{ candidate.file }}</td>
      <td>{{ candidate.image }}</td> -->
    </tr>      
    {% endfor %}
    </tbody>
  </table>
</div>  
{% endblock content %}
</body>
</html>



